.header {
    height: 70px;
    padding: 14px 40px;

    display: flex;
    gap: 50px;
    justify-content: space-between;

    color: var(--main-color);
    font-size: 16px;
    text-wrap: nowrap;

    box-shadow: 0 5px 10px rgba(var(--main-color-rgb), 0.4);
}

.header nav {
    display: flex;
}

.header nav ul {
    display: flex;
    gap: 50px;
    align-items: center;

    list-style: none;
}

.header nav ul li {}

.empty {
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.4);
}

.buttons {
    display: flex;
    border: 1px solid #AAAAAA90;
    border-radius: var(--border-radius);
}

.buttons button {
    all: unset;
    cursor: pointer;
    padding: 0px 20px;
}

.buttons .loginButton{
    border-right: 1px solid #AAAAAA90;
}